%h1 Sale Attributes

%p= link_to 'New Attribute', new_campaign_sale_attr_path(@campaign)

%table.styled
	%thead
		%tr
			%th Title
			%th{ :width => 75 } Kind
			%th{ :width => 75 } Default
			%th{ :width => 75 } Required
			%th

	%tbody
		- @attrs.each do |attr|
			%tr
				%td= attr.title
				%td{ :align => 'center' }= attr.kind
				%td= attr.default
				%td= attr.required
				%td
					= link_to 'Edit', edit_campaign_sale_attr_path(@campaign, attr)

%p= link_to 'New Attribute', new_campaign_sale_attr_path(@campaign)