%h1 Listing Companies

%p= link_to 'New company', new_company_path

%table.styled
	%thead
		%tr
			%th{ :colspan => 6, :align => 'right' }
				=form_tag companies_path, :method => 'get'
				=text_field_tag :search, params[:search], :placeholder => 'Search...'
				
		%tr
			%th Company Name
			%th Contact Name
			%th{ :width => 100 } Phone
			%th{ :width => 100 } Email
			%th{ :width => 200 } Last Contact
			%th{ :width => 100 } &nbsp;

	%tbody
		- @companies.each do |company|
			%tr
				%td= company.title
				%td= company.fullname
				%td= company.phone
				%td= mail_to company.email, company.email
				%td= !company.attempts.last.nil? ? company.attempts.last.created_at.strftime('%A %B %d, %Y') : ''
				%td{ :align => "center" }
					= link_to 'Show', company
					= link_to 'Edit', edit_company_path(company)
					- if current_user.admin
						= link_to 'Destroy', company, :confirm => 'Are you sure you want to delete this company? It is completely permanent!', :method => :delete
	
	- if @companies.total_pages > 1
		%tfoot
			%tr
				%td{ :colspan => 7, :align => "center" }
					= will_paginate @companies, :class => "digg_pagination"

%p= link_to 'New company', new_company_path