%h1 Listing Companies

%table.styled
	%thead
		%tr
			%th Company Name
			%th Contact Name
			%th{ :width => 100 } Phone
			%th{ :width => 100 } Email
			%th{ :width => 200 } Last Contact
			%th{ :width => 110 } &nbsp;

	%tbody
		- @companies.each do |company|
			%tr
				%td= company.title
				%td= company.fullname
				%td= company.phone
				%td= mail_to company.email, company.email
				%td= !company.attempts.last.nil? ? company.attempts.last.created_at.strftime('%A %B %d, %Y') : ''
				%td{ :align => "center" }
					= link_to 'Show', company
					= link_to 'Edit', edit_company_path(company)
					= link_to 'Destroy', company, :confirm => 'Are you sure?', :method => :delete
	
	- if @companies.total_pages > 1
		%tfoot
			%tr
				%td{ :colspan => 7, :align => "center" }
					= will_paginate @companies, :class => "digg_pagination"

%br
= link_to 'New company', new_company_path
