<p id="notice"><%= notice %></p>

<p>
	<b>Company Name:</b> <%= @company.title %>
</p>

<p>
  <b>Contact Name:</b> <%= @company.fullname %>
</p>

<p>
  <b>Phone:</b>
  <%= @company.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @company.email %>
</p>

<p><%= @company.attempts.last.time.strftime("Last contacted %A, %B %d, %Y")%> <%= link_to "Details", @company.attempts.last  %></p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
