%p
	%strong Company Name:
	= @company.title
	%br
	%strong Contact Name:
	= @company.fullname
	%br
	%strong Phone:
	= @company.phone
	%br
	%strong Email:
	= @company.email

- if !@company.attempts.empty?
	%p
		= @company.attempts.last.created_at.strftime("Last contacted %A, %B %d, %Y")
		= link_to "Details", @company.attempts.last

- @company.attempts.group_by(&:campaign_id).collect do |campaign, attempts|
	%h2= attempts.first.campaign.title
	%ul= render attempts

= link_to 'Edit', edit_company_path(@company)
|
= link_to 'Back', companies_path
