%h1 Listing campaigns

%table.styled
	%thead
		%tr
			%th Title
			%th{ :width => 100 } Start Date
			%th{ :width => 100 } End Date
			%th{ :width => 50 } %

	%tbody
		- @campaigns.each do |campaign|
			%tr
				%td= link_to campaign.title, campaign
				%td= campaign.start_date
				%td= campaign.end_date
				%td{ :align => "center" }= !campaign.goal.nil? ? number_with_precision(campaign.total_revenue / campaign.goal.to_f * 100, :precision => 2) + '%' : ''
	
	- if @campaigns.total_pages > 1
		%tfoot
			%tr
				%td{ :colspan => 7,  :align => "center"}
					= will_paginate @campaigns, :class => "digg_pagination"
					
%br
= link_to 'New Campaign', new_campaign_path
