%h1 Listing campaigns

%table.styled
	%thead
		%tr
			%th Title
			%th{ :width => 100 } Start Date
			%th{ :width => 100 } End Date
			%th{ :width => 50 } %
			%th{ :width => 100 } 

	%tbody
		- @campaigns.each do |campaign|
			%tr
				%td= link_to campaign.title, campaign
				%td= campaign.start_date
				%td= campaign.end_date
				%td{ :align => "center" }= number_with_precision campaign.goal_percent, :precision => 2
				%td{ :align => "center" }
					= link_to "Show", campaign
					= link_to "Edit", edit_campaign_path(campaign)
					- if current_user.admin
						= link_to "Delete", campaign, :method => "delete", :confirm => "Are you sure you want to delete this campaign? It is completely permanent!"
	
	- if @campaigns.total_pages > 1
		%tfoot
			%tr
				%td{ :colspan => 7,  :align => "center"}
					= will_paginate @campaigns, :class => "digg_pagination"
					
%br
= link_to 'New Campaign', new_campaign_path
