%h1 Listing campaigns

%table.styled
	%thead
		%tr
			%th Title
			%th Start Date
			%th End Date

	%tbody
		- @campaigns.each do |campaign|
			%tr
				%td= link_to campaign.title, campaign
				%td= campaign.start_date
				%td= campaign.end_date
	
	- if @campaigns.total_pages > 1
		%tfoot
			%tr
				%td{ :colspan => 7,  :align => "center"}
					= will_paginate @campaigns, :class => "digg_pagination"
					
%br
= link_to 'New Campaign', new_campaign_path
