%h1
	= @campaign.title
	%small
		= link_to 'Edit', edit_campaign_path(@campaign)
		= link_to 'Sale Attributes', campaign_sale_attrs_path(@campaign)
		= link_to 'Forms', campaign_forms_path(@campaign)
	

%p
	%b Start date:
	= @campaign.start_date
	%br
	%b End date:
	= @campaign.end_date
	%br
	%b Revenue Goal:
	= number_to_currency @campaign.goal


%p= link_to 'Campaigns', campaigns_path