<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @campaign.title %>
</p>

<h2>Revenue Details</h2>
<p>
  <b>Start date:</b>
  <%= @campaign.start_date %>
	Total Contacts: <%= @campaign.attempts.count %><br>
	Total Sales: <%= number_to_currency @campaign.total_revenue %><br>
	Revenue/Contact: <%= @campaign.revenue_per_contact %><br>
</p>

<h2>Contacts Details</h2>
<p>
	Avg Calls Per Active Day: <%= number_with_precision @campaign.avg_calls_per_day, :precision => 2 %>
</p>


<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
