%h1 Listing attempts

%table.styled
	%thead
		%tr
			%th{ :width => 175 } Time
			%th Company
			%th{ :width => 125 } Estimated Value
			%th{ :width => 75 } Verbal
			%th{ :width => 75 } &nbsp;

	%tbody
		- @attempts.each do |attempt|
			%tr
				%td{ :align => "center" }= attempt.created_at.strftime("%A, %B %d, %Y")
				%td= attempt.company.title if attempt.company
				%td{ :align => "center" }= number_to_currency attempt.value
				%td{ :align => "center" }= attempt.verbal ? 'Yes' : ''
				%td{ :align => "center" }
					= link_to 'Show', attempt
					= link_to 'Edit', edit_attempt_path(attempt)

	- if @attempts.total_pages > 1
		%tfoot
			%tr
				%td{ :colspan => 7, :align => "center" }
					= will_paginate @attempts, :class => "digg_pagination"

%br
= link_to 'New Attempt', new_attempt_path
