<h1>Listing attempts</h1>

<table>
  <tr>
   	<th>Time</th>
    <th>Company</th>
		<th>Value</th>
    <th></th>
  </tr>

<% @attempts.each do |attempt| %>
  <tr>
    <td><%= attempt.time.strftime("%A, %B %d, %Y") %></td>
    <td><%= attempt.company.title if attempt.company %></td>
    <td><%= attempt.value %></td>
    <td>
			<%= link_to 'Show', attempt %>
			<%= link_to 'Edit', edit_attempt_path(attempt) %>
		</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attempt', new_attempt_path %>
