<h1>Listing attempts</h1>

<table class="styled">
	<thead>
	  <tr>
	   	<th>Time</th>
	    <th>Company</th>
			<th>Value</th>
	    <th></th>
	  </tr>
	</thead>

	<tbody>
		<% @attempts.each do |attempt| %>
		  <tr>
		    <td><%= attempt.time.strftime("%A, %B %d, %Y") %></td>
		    <td><%= attempt.company.title if attempt.company %></td>
		    <td><%= attempt.value %></td>
		    <td>
					<%= link_to 'Show', attempt %>
					<%= link_to 'Edit', edit_attempt_path(attempt) %>
				</td>
		  </tr>
		<% end %>
	</tbody>

	<% if @attempts.total_pages > 1%>
		<tfoot>
			<tr>
				<td colspan="7" align="center">
					<%= will_paginate @attempts, :class => "digg_pagination" %>
				</td>
			</tr>
		</tfoot>
	<% end %>
</table>

<br />

<%= link_to 'New Attempt', new_attempt_path %>
