%p
	%strong Campaign:
	= @attempt.campaign.title if @attempt.campaign
	%br
	= @attempt.created_at.strftime("Contact made on %A, %B %d, %Y %l:%M %P")

%p
	%strong Company:
	= link_to(@attempt.company.title, @attempt.company) if @attempt.company

%p
	%strong Email:
	= @attempt.email

%p
	%strong Phone:
	= @attempt.phone

%p
	%strong Fax:
	= @attempt.fax

%p
	%strong Verbal:
	= @attempt.verbal ? 'Yes' : 'No'
	
= link_to 'Edit', edit_attempt_path(@attempt)
|
= link_to 'Back', attempts_path
