.boxed.clearfix
	%h2= product.title
	
	= f.hidden_field :product_id

	.clearfix
		- if product.show_price || product.show_discount
			.right
				- if product.show_price
					= f.label(:price) + f.text_field(:price)
					%br
				
				- if product.show_discount
					= f.label(:discount) + f.text_field(:discount)
					%br

		- if product.show_quantity || product.show_start_date || product.show_end_date
			.left
				- if product.show_quantity
					= f.text_field(:quantity) + f.label(:quantity, product.quantity_label)
					%br
				
				- if product.show_start_date
					= f.label:start_date, product.start_date_label
					= f.date_select :start_date
					%br
			
				- if product.show_end_date
					= f.label :end_date, product.end_date_label
					= f.date_select :end_date
					%br
					
	= f.check_box :_destroy
	= f.label :_destroy, :delete
