= form_for(@sale) do |f|
	- if @sale.errors.any?
		#error_explanation
			%h2= "#{pluralize(@sale.errors.count, "error")} prohibited this sale from being saved:"

			%ul
				- @sale.errors.full_messages.each do |msg|
					%li= msg

	= f.hidden_field :user_id

	.field
		= label :campaign_name, :campaign_name
		= f.hidden_field :campaign_id
		= autocomplete_field_tag :campaign_name, @sale.campaign ? @sale.campaign.title : '', autocomplete_campaign_title_sales_path, :id_element => "#sale_campaign_id"

	.field
		= label :company_name, :company_name
		= f.hidden_field :company_id
		= autocomplete_field_tag :company_name, @sale.company ? @sale.company.title : '', autocomplete_company_title_sales_path, :id_element => '#sale_company_id', :autofocus => true
	
	%table{ :width => '100%' }
	- @sale.campaign.sale_attrs.each do |attr|
		%p= attr.title

	.actions
		= f.submit
		

%p= @sale['Off Campus Listing Quantity']
%p *