= form_for(@sale) do |f|
	- if @sale.errors.any?
		#error_explanation
			%h2= "#{pluralize(@sale.errors.count, "error")} prohibited this sale from being saved:"

			%ul
				- @sale.errors.full_messages.each do |msg|
					%li= msg

	= f.hidden_field :user_id

	.field
		= label :campaign_name, :campaign_name
		= f.hidden_field :campaign_id
		= autocomplete_field_tag :campaign_name, @sale.campaign ? @sale.campaign.title : '', autocomplete_campaign_title_sales_path, :id_element => "#sale_campaign_id"

	.field
		= label :company_name, :company_name
		= f.hidden_field :company_id
		= autocomplete_field_tag :company_name, @sale.company ? @sale.company.title : '', autocomplete_company_title_sales_path, :id_element => '#sale_company_id', :autofocus => true
		
	.field
		= f.label :total
		= f.hidden_field :total
		%span#total= @sale.total

	.actions
		= f.submit
		
	- if @sale.campaign
		%h2 Products
		#saleItems
			= f.fields_for :sale_items do |builder|
				= render 'products/product', :product => builder.object.product, :f => builder


= form_for [@sale, @sale.sale_items.build] do |f|
	= f.collection_select(:product_id, @sale.campaign.products, :id, :title, { :include_blank => "None" })
	= f.submit :Add