%p
	%strong Company:
	= !@sale.company.nil? ? link_to(@sale.company.title, @sale.company) : ''

%p
	%strong Campaign:
	= !@sale.campaign.nil? ? link_to(@sale.campaign.title, @sale.campaign) : ''
	
%p
	%strong Total:
	= number_to_currency @sale.total
	
	
%h2 Sale Details

%p
	= link_to 'Edit', edit_sale_path(@sale)
	|
	= link_to 'Back', sales_path
