%p
	%strong Company:
	= !@sale.company.nil? ? link_to(@sale.company.title, @sale.company) : ''

%p
	%strong Campaign:
	= !@sale.campaign.nil? ? link_to(@sale.campaign.title, @sale.campaign) : ''
	
%p
	%strong Total:
	= number_to_currency @sale.total
	%br
	%strong Carrot:
	= number_to_currency @sale.carrot
	%br
	%strong Off Campus Carrots: 
	= @sale.off_campus_carrots
	%br
	%strong Restaurant Carrots: 
	= @sale.restaurant_carrots
	%br
	%strong Service Carrots: 
	= @sale.service_carrots
	
	
%h2 Sale Details
%table
	%tr
		%th Type
		%th{ :width => 50 } Count
		%th{ :width => 150 } Value
		%th{ :width => 150 } Total Quantity

	- @sale.sale_items.group_by(&:product_id).each do |index, items|
		%tr
			%td= items.first.product.title
			%td{ :align => 'center' }= items.count
			%td{ :align => 'center' }= number_to_currency items.collect(&:price).sum
			%td{ :align => 'center' }= "#{items.collect(&:quantity).sum} #{items.first.product.quantity_label}"
%p
	= link_to 'Edit', edit_sale_path(@sale)
	|
	= link_to 'Back', sales_path
