!!!
%html
	%head
		%title= title
		= stylesheet_link_tag "application"
		= javascript_include_tag "application"
		= csrf_meta_tag

	%body
		#navigation
			%div.line.container
				%div.unit.size1of5
					= render 'layouts/user_details'
				%div.unit.size4of5.lastUnit
					= render 'layouts/navigation'
		

		#wrapper.container
			%div
				- flash.each do |key, value|
					%div.flash{ :class => key }
						= value
						
				= yield
