<!DOCTYPE html>
<html>
<head>
  <title>Sales</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'ui-theme/south-street/jquery-ui-1.8.16.custom.css'%>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "autocomplete-rails.js" %>
  <%= csrf_meta_tag %>
</head>
<body>

	<div id="wrapper">
		<%= render 'layouts/navigation' %>
		<%= yield %>
	</div>

</body>
</html>
