<!DOCTYPE html>
<html>
<head>
  <title>Sales</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'ui-theme/south-street/jquery-ui-1.8.16.custom.css'%>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "autocomplete-rails.js" %>
  <%= javascript_include_tag "accordion.js" %>
  <%= csrf_meta_tag %>
</head>
<body>
	
	<div id="navigation"><div class="line container">
		<div class="unit size1of5">
			<%= render 'layouts/user_details' %>
		</div>
		<div class="unit size4of5 lastUnit">
			<%= render 'layouts/navigation' %>
		</div>
	</div></div>
		

	<div id="wrapper" class="container"><div>
		<% flash.each do |key, value| %>
			<div class="flash <%= key %>"><%= value %></div>
		<% end %>
		
		
		<%= yield %>
	</div></div>

</body>
</html>
